<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kamil.br"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MeasurementCreate" />
        <activity android:name=".activities.PathViewer" />
        <activity
            android:name=".activities.PathCreator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.RoomCreator" />
        <activity android:name=".activities.RoomChoose" />
        <activity android:name=".activities.RoomMenu" />
        <activity android:name=".activities.PathMenu" />
        <activity android:name=".activities.PathChooseRoom" />
        <activity android:name=".activities.BluetoothResultsChooseOption" />
        <activity android:name=".activities.MeasurementChooseRoom" />
        <activity android:name=".activities.BluetoothFinder" />
        <activity android:name=".activities.Radar" />
        <activity
            android:name=".activities.BluetoothResultsEditor"
            android:label="@string/title_activity_bluetooth_results_editor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BluetoothResultsChooseRoom" />
        <activity android:name=".activities.BluetoothResultsChooseMeasurement" />
        <activity android:name=".activities.BluetoothResultsView" />
        <activity android:name=".activities.MappingMenu" />
        <activity android:name=".activities.UserSpeed" />
        <activity android:name=".activities.MeasurementEditor" />
        <activity android:name=".activities.MeasurementChooser"></activity>
    </application>

</manifest>